*,
*::before,
*::after {
  box-sizing: border-box;
}

/*container*/
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.slide {
  display: block;
  position: relative;
}

.slide-wrapper {
  background-color: #eee;
  height: 100vh;
  max-height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-text {
  padding: 40px;
  width: 40%;
  flex-shrink: 0;
}

.slide-text h3 {
  text-transform: uppercase;
  font-size: 30px;
}

.slide-text p {
  font-size: 14px;
  padding: 10px 0;
  margin-bottom: 10px;
  line-height: 1.5;
}

.slide-btn {
  display: inline-block;
  padding: 20px 45px;
  background-color: #fb565a;
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
}

.slide-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  height: 100%;
  width: 100%;
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li button {
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #FFF;
  background-color: #fff;
  color: #FFF;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.slick-dots li.slick-active button {
  background-color: #fb565a;
  color: #fb565a;
}

@media screen and (max-width: 640px) {
  .slide-text {
    width: 100%;
  }
  .slide-image {
    display: none;
  }
}